<ion-view title="Confirmation" hide-nav-bar="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <form id="confirmation-form5" class="list">
      <label class="item item-input item-stacked-label" id="confirmation-input2">
        <span class="input-label">Confirmation code:</span>
        <input type="tel" placeholder="Please enter the code here">
      </label>
    </form>
    <a ui-sref="beAware" id="confirmation-button3" class="button button-positive  button-block">Confirm</a>
    <a ui-sref="signUp" id="confirmation-button16" class="button button-stable  button-block">Cancel</a>
  </ion-content>
</ion-view>