<ion-view title="Enter IN" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="enterIN-form7" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <label class="item item-input item-stacked-label" id="enterIN-input5">
        <span class="input-label">Identification number:</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="home" id="enterIN-button10" class="button button-positive  button-block">Confirm</a>
    <a ui-sref="home" id="enterIN-button17" class="button button-stable  button-block">Cancel</a>
  </ion-content>
</ion-view>